# venv stuff
venv/
ENV/


# python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env
.venv

# ignore large dataset stuff
runs/
*.pt

# logs
logs/
*.log
*.out

# ides
.vscode/
.idea/


README.dataset.txt
README.roboflow.txt

# ignore copied output images
out/

#ignore detected images that we wanna test for transmission
detected/
transmit-me/
circle-detection/cropped
circle-detection/images
